<li>
    {{name}}

    <button class="change-status" data-id="{{id}}" data-newstatus="{{eat}}">
        {{#if eat}}Devour!{{else}}Vom!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>